<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Crypto Terminator</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/CTfevicon.jpg" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v4.3.0
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="">Crypto Terminator</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto " href="#Gambling">Gambling</a></li>
          <li><a class="nav-link scrollto " href="#Exchange">Exchange</a></li>
          <li><a class="nav-link scrollto " href="#Price/Chart">Price/Chart</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Welcome to <span>Crypto Terminator</span></h1>
      <h2>Popular Crypto Gambling and Exchange Platform Terminal</h2>
      <a href="#Gambling" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">
     <!-- ======= Select your platform ======= -->
     <section id="Select-Your-Platform" class="what-we-do">
      <div class="container">
        <div class="section-title">
          <h2>Select Your Platform</h2>
          <p>Select Gamblimg or Exchange Platform</p>
                           
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="#Gambling">Crypto Gambling</a></h4>
              <!--li><a class="nav-link scrollto" href="#portfolio">Gambling</a></li-->    
              <p>Select Your Gambling Platform and Rediect</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="#Exchange">Crypto Exchange</a></h4>
              <p>Select Your Exchange Platform and Rediect</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="#Price/Chart">Crypto Price Platform</a></h4>
              <p>Select Your Crypto Price Platform and Rediect</p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End What We Do Section -->

    

    <!-- ======= Skills Section ======= -->
    
     <!-- End Skills Section -->

    <!-- ======= Counts Section ======= -->
   
     <!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
   
     <!-- End Services Section -->

    <!-- ======= portfolio Section ======= -->
    <section id="Gambling" class="portfolio">
      <div class="container">
        <div class="section-title">
          <h2>Gambling</h2>
          <p>Select Your Gambling Platform</p>
        </div>
        <div class="row portfolio-container">
          <div class="col-lg-3 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">              
                <img src="static/assets/img/freebitco.png" class="img-fluid" >
              <div class="portfolio-info">
                <h4><a href="https://freebitco.in/?op=signup_page" target="_blank">Freebitco.in</a></h4>
              </div>
            </div>
          </div>  
          
          <div class="col-lg-3 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">              
                <img src="static/assets/img/bitsler.jpg" class="img-fluid" >
              <div class="portfolio-info">
                <h4><a href="https://www.bitsler.com/"target="_blank">Bitsler.com</a></h4>
              </div>
            </div>
          </div> 

          <div class="col-lg-3 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">              
                <img src="static/assets/img/wink.jpeg" class="img-fluid" >
              <div class="portfolio-info">
                <h4><a href="https://www.wink.org/?__cf_chl_jschl_tk__=pmd_7r3h13glrTFQkXI70fSVoIRogu8FPZrGv2l7CIQGsXU-1630572801-0-gqNtZGzNAdCjcnBszQe9"target="_blank">wink.com</a></h4>
              </div>
            </div>
          </div>  
          
          <div class="col-lg-3 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">              
                <img src="static/assets/img/7_bit.jpg" class="img-fluid" >
              <div class="portfolio-info">
                <h4><a href="https://7bitcasino.com/?stag=101355_6130c7da7005384862fd294f"target="_blank">7bitcasino.com</a></h4>
              </div> 
            </div>
          </div>
          <div class="col-lg-3 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">              
                <img src="static/assets/img/bitstarz.jpg" class="img-fluid" >
              <div class="portfolio-info">
                <h4><a href="https://www.bitstarz28.com/"target="_blank">bitstarz28.com</a></h4>
              </div> 
            </div>
          </div>
          <div class="col-lg-3 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">              
                <img src="static/assets/img/reddogcasino.jpg" class="img-fluid" >
              <div class="portfolio-info">
                <h4><a href="https://reddogcasinobonuses.com/luxred/generous/?token=lJ5Fm9BRRPVajDGyaBtghWNd7ZgqdRLk&gaid=1263"target="_blank">red dog casino</a></h4>
              </div> 
            </div>
          </div>
          <div class="col-lg-3 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">              
                <img src="static/assets/img/superslots.jpg" class="img-fluid" >
              <div class="portfolio-info">
                <h4><a href="https://promotions.superslots.ag/welcome-bonus1?btag=ixnnmhhTrJFpr1Ze-SIS82Nd7ZgqdRLk&affid=105539"target="_blank">supeslots</a></h4>
              </div> 
            </div>
          </div>
          <div class="col-lg-3 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">              
                <img src="static/assets/img/cafecasino.jpg" class="img-fluid" >
              <div class="portfolio-info">
                <h4><a href="https://www.cafecasino.lv/login"target="_blank">cafecasino.lv</a></h4>
              </div> 
            </div>
          </div>
          <div class="col-lg-3 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">              
                <img src="static/assets/img/mbit.jpg" class="img-fluid" >
              <div class="portfolio-info">
                <h4><a href="https://www.mbitcasino.com/?stag=107104_6130c8aa7005384862fd2b0a&utm_medium=referral&utm_source=mbitpartners"target="_blank">mbitcasino.com</a></h4>
              </div> 
            </div>
          </div>
        </section>
    <!-- ======= Exchange Section ======= -->
    <section id="Exchange" class="portfolio">
      <div class="container">
        <div class="section-title">
          <h2>Exchange</h2>
          <p>Select Your Exchange Platform</p>
        </div>
        <div class="row portfolio-container">
          <div class="col-lg-3 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">
                <img src="static/assets/img/binance.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://www.binance.com/en"target="_blank">binance.com</a></h4>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
                <img src="static/assets/img/wazirx.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://wazirx.com/exchange/WIN-INRl"target="_blank">WazirX.com</a></h4>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
                <img src="static/assets/img/coinbase.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://pro.coinbase.com/"target="_blank">Coinbase.com</a></h4>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
                <img src="static/assets/img/7b.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://sevenb.io/"target="_blank">sevenb.io</a></h4>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
                <img src="static/assets/img/gemini.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://www.gemini.com/"target="_blank">gemini.com</a></h4>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
                <img src="static/assets/img/robinhood.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://robinhood.com/us/en/"target="_blank">robinhood.com</a></h4>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
                <img src="static/assets/img/kraken.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://www.kraken.com/"target="_blank">kraken.com</a></h4>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
                <img src="static/assets/img/etoro.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://www.etoro.com/"target="_blank">etoro.com</a></h4>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
                <img src="static/assets/img/crypto.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://crypto.com/"target="_blank">Crypto.com</a></h4>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- End Exchange Section -->

    <!-- ======= Price/Chart Section ======= -->
    <section id="Price/Chart" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2>Price/Chart</h2>
          <p>Select Your Price/Chart Platform</p>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-3 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">
                <img src="static/assets/img/coinmarketcap.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://coinmarketcap.com/homepage-v21/"target="_blank">coinmarketcap.com</a></h4>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
                <img src="static/assets/img/coingico.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://www.coingecko.com/en?__cf_chl_jschl_tk__=pmd_tOkgNi9rSEfP6F3oCeUSfHCPXN6ARSN1rQTgU8MjNio-1630587915-0-gqNtZGzNAdCjcnBszQcl"target="_blank">coingecko.com</a></h4>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
                <img src="static/assets/img/investing.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://in.investing.com/charts/cryptocurrency-charts"target="_blank">investing.com</a></h4>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
                <img src="static/assets/img/tradingview.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="https://in.tradingview.com/markets/cryptocurrencies/"target="_blank">tradingview.com</a></h4>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- End Price/Chart Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img src="static/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>About Us</h3>
            <p>
              Crypto Terminator website collects all cryptocurrency working platform such as Exchange, Price Indicator,
              Gambling at one terminal place for easy access.
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> Gambling Platform.</li>
              <li><i class="bx bx-check-double"></i> Exchange Platform.</li>
              <li><i class="bx bx-check-double"></i> Crypto Price and Chart Platform.</li>
            </ul>
            </div>
          </div>
        </div>
     </div>
    </section><!-- End About Section -->
    
    
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Suggest Something to us</p>
        </div>

        <div class="row mt-5 justify-content-center">

          <div class="col-lg-10">

            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-4 info">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>Mahabal Road<br>Jalgaon, Maharashtra, India</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>mandarhp777@gmail.com</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="bi bi-phone"></i>
                  <h4>Telegram:</h4>
                  <p>@Mandarhp77</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Crypto Terminator</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
          Designed by <a href="">Mandar Electro</a>
        </div>
      </div>
      <!---div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div--->
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
   